* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --dark-gray: #565656;
    --teal: #0891b2;
    --purple: #7c75ca;
    --orange: #d88f39;
    --green: #5e8f4d;
    --pink: #ca7599;
    --blue: #4692d9;
}

body {
    font-family: Lato, sans-serif;
    font-size: 1.5rem;
}

h1 {
    font-family: "PT Serif", serif;
    font-size: 2.5rem;
    
    padding-bottom: 0.5rem;

    /* make this mobile specific */
    text-align: center;
    color:black;
}

h3 {
    font-family: "PT Serif", serif;
    font-size: 1.75rem;
}

.body-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header"
    "about-me"
    "my-work"
    "footer";

    gap: 2rem;
}


/* add padding to all major sections, workaround because padding that respects background color cannot be added to .body-container */
.hero-container, .about-me, .my-work, .contact-me  {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* for stretching images to biggest width possible 
.imgbox {
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
} */

/* revised code for stretching and centering pictures */

.imgbox {
    display:flex;
    justify-content: center;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

header {
    grid-area: "header";
    background-color: var(--teal);
}

header .profile-pic-name {
    font-family: "PT Serif", serif;
    
    /* for text overlay */
    position: relative;
}

header .header-hero-image {
    /* given image centering code, test if these selectors are superfluous */
    /* width: 500px;
    height: auto; */
}

header .big-name {
    /* center text and text overlay */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5vw;

    color: white;
    font-size: 25vw;
    line-height: 22vw;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

header .hero-text {
    color: white;
    font-size: 2rem;
    text-align: justify;
}

article .about-me-container {
    grid-area: "about-me";
}

article .about-me {
    color: var(--dark-gray);
    text-align: justify;
}

.social-link-images {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.social-link-images img {
    width: 2rem;
    height: auto;
}

article .my-work-container {
    grid-area: "my-work";
}

article .my-work {

}

article .my-work-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
}

article .project-card {
    min-height: 500px;
    /* border: 1px solid black; */
}

/* backgrounds for project cards */
.bg-purple {
    background-color: var(--purple);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-green {
    background-color: var(--green);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-blue {
    background-color: var(--blue);
}

.project-screenshot {
    /* for placeholder text only */
    text-align: center;
}

.project-text {
    padding: 1rem;
}

.project-title-line {
    display: grid;
    grid-template-columns: auto auto;
}

.project-links {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    
}

.project-links img {
    width: 1.5rem;
    height: auto; 
}

.project-description {
    text-align: justify;
    color: var(--dark-gray);
}

/* article .contact-me-container {

} */

footer {
    grid-area: "footer";
    background-color: var(--teal);
}

footer .contact-me {
    color: white;
    padding-bottom: 1rem;
}

footer .contact-me h1 {
    color: white;
}

/* mobile */
@media (max-width: 500px) {

}

/* desktop */
@media (min-width: 501px) {

    .hero-container, .about-me, .my-work, .contact-me  {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    header .big-name {
        font-size: 5rem;
        line-height: 5rem;
        bottom: 2rem;
    }

    header .hero-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        
    }

    header .hero-text {
        width: 500px;
        display:flex;
        align-items: center;
    }

}