* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

.body-container {
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    header
    about-me
    my-work
    contact-me
    footer;

    padding: 1rem;
}

header {
    grid-area: header;
}

article .about-me-container {
    grid-area: about-me;
}

article .my-work-container {
    grid-area: about-me;
}

article .contact-me-container {
    grid-area: contact-me;
}

footer {
    grid-area: footer;
}